.about-menu{
    display: flex;
}
.about-menu li{
    margin-left: 30px;
    list-style: none;
}
.about-menu li a{
    text-decoration: none;
}
.about-menu li h4{
    margin-top: 0px;
}
.heading{
    color: orange;
    text-align: center;
    margin-top: 50px;
}